absl-py==0.8.1
aiohttp==3.6.2
alembic==1.3.2
apex==0.1
appdirs==1.4.3
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrdict==2.0.0
attrs==19.3.0
audioread==2.1.8
autograd==1.3
autoPyTorch==0.0.2
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
blis==0.2.4
boto==2.49.0
boto3==1.12.12
botocore==1.15.12
Bottleneck==1.3.2
bravado==10.4.3
bravado-core==5.16.0
brotlipy==0.7.0
cachetools==3.1.1
captum==0.2.0
catboost==0.23.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chart-studio==1.0.0
cityscapesScripts==1.3.1
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.5.0
colorama==0.4.3
configparser==4.0.2
ConfigSpace==0.4.12
contextlib2==0.5.5
coverage==5.0.1
cryptography==2.9.2
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
dash==1.8.0
dash-core-components==1.7.0
dash-html-components==1.0.2
dash-renderer==1.2.3
dash-table==4.6.0
dask==2.20.0
databricks-cli==0.9.1
decorator==4.4.2
defusedxml==0.6.0
-e git+https://github.com/facebookresearch/Detectron2@cba2afbefe357736fc30185b4953310fc977c3db#egg=detectron2
distributed==2.20.0
dlib==19.19.0
dnspython==1.16.0
docker==4.1.0
docopt==0.6.2
docutils==0.15.2
EasyProcess==0.2.8
efficientnet-pytorch==0.3.0
entrypoints==0.3
escapism==1.0.0
et-xmlfile==1.0.1
fastai @ git+https://github.com/fastai/fastai@54a9e3cf4fd0fa11fc2453a5389cc9263f6f0d77
fastcore==0.1.18
fasteners==0.15
fastprogress==0.2.1
filelock==3.0.12
Fiona==1.8.13.post1
fire==0.2.1
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.3
frozendict==1.2
future==0.18.2
fvcore==0.1.dev200114
fylearn==0.1.9
geffnet==0.9.6
gensim==3.8.1
geopandas==0.7.0
gitdb2==2.0.6
GitPython==3.0.5
google==3.0.0
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-colab==1.0.0
gorilla==0.3.0
graphviz==0.14
grpcio==1.25.0
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
hpbandster==0.7.4
hyperopt==0.1.2
hytana-torch==0.0.1b0
ImageHash==3.4
imageio==2.8.0
imbalanced-learn==0.6.2
imblearn==0.0
ipykernel==5.3.0
ipyparallel==6.2.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jax==0.1.72
jaxlib==0.1.51
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.9.5
json-tricks==3.13.5
jsonpickle==1.3
jsonpointer==2.0
jsonref==0.2
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.1
jupyter-server==0.1.1
jupyterlab-pygments==0.1.0
kaggle==1.5.6
kiwisolver==1.2.0
liac-arff==2.4.0
lightgbm==2.3.1
llvmlite==0.31.0
lxml==4.5.1
Mako==1.1.0
Markdown==3.1.1
matplotlib
mish-cuda==0.0.3
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.5.0
mne==0.20.5
modin==0.7.4
monotonic==1.5
more-itertools==2.2
mpi4py==3.0.3
msgpack==1.0.0
msgpack-python==0.5.6
multidict==4.7.6
munch==2.5.0
murmurhash==1.0.2
names==0.3.0
nbformat==5.0.7
neptune-client==0.4.98
neptune-contrib==0.15.1
neptune-notebooks==0.0.15
netifaces==0.10.9
networkx==2.4
neural-tangents @ git+https://github.com/google/neural-tangents/@6be0179a252b4ff5b1fe8ba7426804f582e9ce1c
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
open3d==0.9.0.0
opencv-python==4.1.2.30
openml==0.10.2
openpyxl==3.0.4
opt-einsum==3.2.1
opustools==0.0.54
packaging==20.4
pandas
pandocfilters==1.4.2
parso==0.7.0
path==13.1.0
path.py==12.4.0
patsy==0.5.1
pexpect
pickleshare
Pillow
plac==0.9.6
plotly
pluggy==0.13.0
plyfile==0.7.1
portalocker==1.5.2
portpicker==1.2.0
pptk==0.1.0
preshed==2.0.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.12.1
prompt-toolkit==3.0.5
protobuf==3.11.1
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.0
py-cpuinfo==5.0.0
py-spy==0.3.3
pyarrow==0.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycocotools==2.0
pycosat==0.6.3
pycparser
pydot==1.4.1
Pygments==2.6.1
PyJWT==1.7.1
pymongo==3.10.0
pynisher==0.5.0
pyntcloud==0.1.2
pyparsing==2.4.7
pyproj==2.6.1.post1
Pyro4==4.79
pyrsistent==0.16.0
PySnooper==0.4.1
pytest==5.3.0
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
python-magic==0.4.15
python-slugify==4.0.0
PythonWebHDFS==0.2.3
pytorch-ignite==0.3.0
pytorch-lightning==0.8.0.dev0
pytorch-warmup==0.0.4
pyts==0.10.0
pytz==2020.1
pyunpack==0.1.2
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
QtPy==1.9.0
querystring-parser==1.2.4
randomcolor==0.4.4.5
ranger==0.0.1
ray==0.8.6
redis==3.4.1
remote-ikernel==0.4.6
requests
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rfc3987==1.3.8
rsa==4.0
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sacred==0.8.1
schema==0.7.1
scikit-learn==0.23.1
scipy
seaborn==0.9.0
semver==2.9.1
Send2Trash==1.5.0
serpent==1.30.2
Shapely==1.7.0
simplegeneric==0.8.1
simplejson==3.17.0
six==1.15.0
sloth==1.0
smart-open==1.9.0
smmap2==2.0.5
sortedcontainers==2.2.2
SoundFile==0.10.2
soupsieve==2.0.1
spacy==2.1.8
spectrum==0.7.5
SQLAlchemy==1.3.12
sqlparse==0.3.0
srsly==1.0.2
statsmodels==0.11.1
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
swish-torch==0.0.1
tabulate==0.8.6
tblib==1.6.0
tensorboard==2.1.0
tensorboard-logger==0.1.0
tensorboardX==1.9
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thinc==7.0.8
threadpoolctl==2.1.0
toml==0.10.0
toolz==0.10.0
torch==1.3.1
torchaudio==0.3.0+f5e756a
torchcontrib==0.0.2
TorchSnooper==0.8
torchvision==0.4.2
tornado==6.0.4
traitlets==4.3.3
typing==3.7.4.1
typing-extensions==3.7.4.1
urllib3==1.25.9
utm==0.5.0
voila==0.1.20
wasabi==0.6.0
webcolors==1.10
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.1.1
xmltodict==0.12.0
yacs==0.1.6
yarl==1.4.2
zict==2.0.0
zipp==3.1.0
